body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.background {
    background: url('asset/background.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 5em;
    margin: 0;
}

p {
    font-size: 1.5em;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2; /* Ensure the logo is on top */
}

.logo img {
    height: 40px; /* Adjust the size as needed */
}